:root {
    /* =====Цвета===== */

    /* Цвет основного текста */
    --primari-text-color: #757575;
    /* цвет заголовков */
    --primari-title-color: #212121;
    /* акцентный цвет */
    --accent-color: #2196F3;
    /* акцентный цвет текста */
    --accent-text-color: #ffffff;
    /* фоновый цвет */
    --background-color: #2F303A;
    /* контакты футер */
    --contact-link-footer-color: rgba(255, 255, 255, 0.6)

    /* =====Шрифты===== */

    /* Шрифт логотипа */
    --font-logo: 'Raleway',
    sans-serif;

    /* Основной шрифт */
    --font-main: 'Roboto',
    'Verdana',
    'Tahoma',
    sans-serif;
}

body {
    font-family: var(--font-main);
    color: var(--primari-text-color);
    }

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

/* ===============index.html=============== */

/* heder */

.logo {
    font-family:var(--font-logo) ;
    color: var(--accent-color);
    font-size: 26px;
    line-height: 1.192;
}

.logo-color-header {
    color: var(--primari-title-color);
}

.nav-link {
    font-weight: 500;
    color: var(--primari-title-color);
    font-size: 14px;
    line-height: 1.1428;
}

.nav-link:hover, .nav-link:focus {
    color: var(--accent-color);
    font-size: 14px;
    line-height: 1.1428;
}

.nav-active{
    color: var(--accent-color);
}

.contact-link{
    color: var(--primari-text-color);
    font-size: 14px;
    line-height: 1.1428;
}

.contact-link:hover, .contact-link:focus{
    color: var(--accent-color);
    
}

/* Hero */
.hero{
    background-color: var(--background-color);
}
.hero-title{
    color: var(--accent-text-color);
    text-transform: uppercase;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
}

.hero-button {
    background-color: var(--accent-color);
    color: var(--accent-text-color);
    cursor: pointer;
    font-size: 16px;
    line-height: 1.875;
}

/* DIGNITY */

.hidden-title {
    display: none;
}

.dignity-list-title{
    color: var(--primari-title-color);
    text-transform: uppercase;
    font-size: 14px;
    line-height: 1.1428;
}

.dignity-list-text{
    font-size: 14px;
    line-height: 1.714;
}

/* OUR-WORK */

.section-title{
    color: var(--primari-title-color);
    font-size: 36px;
    line-height: 1.167;
   }

/* OUR-TEEM */

.text-title{
    color: var(--primari-title-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.187;
}

.list-text-teem{
font-size: 16px;
line-height: 1.187;
}

/* footer */

footer {
    background-color: var(--background-color);
}
.logo-color-footer{
    color: var(--accent-text-color);
}
address {
    font-style: normal;
    font-size: 14px;
    line-height: 1.714;
}
.address-company{
    color: var(--accent-text-color);
}
.contact-link-footer{
    color: var(--contact-link-footer-color);
    }

.contact-link-footer:hover,
.contact-link-footer:focus{
    color: var(--accent-color);
}


/* ===============portfolio.html=============== */

.filter-button{
    font-family: var(--font-main);
    color: var(--primari-title-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.625;
}

.filter-button:hover,
.filter-button:focus{
    background-color: var(--accent-color);
    color: var(--accent-text-color);
    cursor: pointer;
}

.activ-button{
    background-color: var(--accent-color);
    color: var(--accent-text-color);
}

.list-text-portfolio{
    color: var(--primari-text-color);
    font-size: 16px;
    line-height: 1.875;
}

.list-title-portfolio{
    color: var(--primari-title-color);
    font-size: 18px;
    line-height: 2;
   }