:root {
    /* =====Цвета===== */

    /* Цвет основного текста */
    --primari-text-color: #757575;
    /* цвет заголовков */
    --primari-title-color: #212121;
    /* акцентный цвет */
    --accent-color: #2196F3;
    /* акцентный цвет текста */
    --accent-text-color: #ffffff;
    /* фоновый цвет */
    --background-color: #2F303A;

    /* =====Шрифты===== */

    /* Шрифт логотипа */
    --font-logo: 'Raleway',
    sans-serif;
    --font-logo-wight: 700;

    /* Основной шрифт */
    --font-main: 'Roboto',
    'Verdana',
    'Tahoma',
    sans-serif;
}

body {
    font-family: var(--font-main);
    color: var(--primari-text-color);
    }

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

/* ===============index.html=============== */

/* heder */

.logo {
    font-family:var(--font-logo) ;
    font-weight: var(--font-logo-wight);
    color: var(--accent-color);
}

.logo-color-header {
    color: var(--primari-title-color);
}

.nav-link {
    font-weight: 500;
    color: var(--primari-title-color);
}

.nav-link:hover, .nav-link:focus {
    color: var(--accent-color);
}

.nav-active{
    color: var(--accent-color);
}

.contact-link{
    color: var(--primari-text-color);
}

.contact-link:hover, .contact-link:focus{
    color: var(--accent-color);
}

/* Hero */
.hero{
    background-color: var(--background-color);
}
.hero-title{
    color: var(--accent-text-color);
    text-transform: uppercase;
    font-weight: 900;
}

.hero-button {
    background-color: var(--accent-color);
    color: var(--accent-text-color);
    cursor: pointer;
}

/* DIGNITY */

.dignity-title {
    display: none;
}

.dignity-list-title{
    color: var(--primari-title-color);
    font-weight: 700;
    text-transform: uppercase;
}

.list-text{
    font-weight: 400;
}

/* OUR-WORK */

.section-title{
    color: var(--primari-title-color);
    font-weight: 700;
}

/* OUR-TEEM */

.text-title{
    color: var(--primari-title-color);
    font-weight: 500;
}

/* footer */

footer {
    background-color: var(--background-color);
}
.logo-color-footer{
    color: var(--accent-text-color);
}
address {
    font-style: normal;
}
.address-company{
    color: var(--accent-text-color);
}
.contact-link-footer{
    color: var(--primari-text-color);
    font-weight: 400;
}

.contact-link-footer:hover,
.contact-link-footer:focus{
    color: var(--accent-color);
}


/* ===============portfolio.html=============== */